*{
    margin: 0;
    padding: 0;
}
body{
    background: #998E8A;
    height: 800px;
}
.mainwraper{
    width: 95%;
    min-height: 90%;
    margin: 10px auto;
    background: #F0EDEC;
}
.devider{
    height: 10px;
}
.card{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin: 20px auto 0;
    width: 90%;
    background: white;
    min-height: 200px;
}
.title{
    padding: 15px 0 10px;
    width: fit-content;
    margin: 1px auto;
    color: #30160C;
    font-family: 'Open Sans', sans-serif;
}
.btns{
    width: fit-content;
    margin: 25px auto 0;
}
.adivider{
    display: inline-block;
    width: 50px;
}
.sbtn{
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    display: block;
    margin: 0 auto;
    width: fit-content;
    border-radius: 15px;
    padding: 5px;
    height: 35px;
    margin: 5px auto;
    color: #EFC7B6;
    background: #C55827;
    font-size: 20px;
}
.sbtn:hover{
    box-shadow: 0 0 10px #655E5C;
}
.sbtn:active{
    box-shadow: 1px 1px 2px #655E5C;
}
.change_pl{
    
}
.min_head{
    width: fit-content;
    margin: 0 auto;
}
.btn{
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    border-radius: 10px;
    display: inline-block;
    min-width: 200px;
    height: 50px;
    color: #EFC7B6;
    background: #C55827;
    text-decoration:none;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
}
.btn:hover{
    box-shadow: 0 0 15px #655E5C;
}
.btn:active{
    box-shadow: 1px 1px 5px #655E5C;
}
.hide{
    display: none;
}
img{
    height: 200px;
    width: 200px;
    margin: 20px 20px 0;
    background: #97441E;
    border-radius: 20px;
    box-shadow: 0px 0px 6px #1B1411;
}
.platform{
    display: inline-block;
    width: fit-content;
    /*border: 2px solid;*/
}
#platform_info{
    padding-top: 10px;
    width: fit-content;
    margin: 0 auto;
    font-family: 'Merriweather', serif;
    font-size: 16px;
}
.lable{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    text-align: center;
}
img:active{
    background: #6B3015;
    box-shadow: 0 0 0 black;
}
.tst{
    width: 50px;
    height: 25px;
    background: cyan;
}
#version{
    text-align: right;
    font-size: 12px;
    color: white;
}
#platforms{
    padding: 10px 0;
    background: #EDEFF9;
}
.create{
    margin: 12px auto 0;
    
}
.item{
    border-radius: 15px;
    padding: 5px;
    width: 80%;
    height: 35px;
    margin: 5px auto;
    background: #DFE1F6;
}
.item2{
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    max-width: 80%;
    /*height: 35px;*/
    margin: 5px auto;
    background: #DFE1F6;
}
.item2:hover{
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}
.inwrapper{
    padding-top: 5px;
    width: fit-content;
    margin: 0 auto;
    /*padding: 10px 0 0;*/
}
.rep_name{
    display: inline;
    padding-bottom: 10px;
}
.rep_type{
    display: inline;
    padding-bottom: 10px;
}
.details{
    cursor: pointer;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../img/details_small.png');
    background-size: 25px 25px;
}
.edit{
    cursor: pointer;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../img/edit_small.png');
    background-size: 25px 25px;
}
.spacer{
    display: inline-block;
    width: 5px;
}
.print{
    cursor: pointer;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../img/print_small.png');
    background-size: 25px 25px;
    /*-webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;*/
}

#action_selector{
    padding-bottom: 15px;
}
.btn_mdl:hover{
    cursor: pointer;
    box-shadow: 0 0 15px #655E5C;

}
.btn_mdl:active{
    box-shadow: 1px 1px 5px #655E5C;
}

.btn_mdl{
    font-weight: bold;
    font-family: 'Merriweather', serif;
    text-decoration:none;
    color: white;
    font-size: 22px;
    background: green;
    display: block;
    min-width: 250px;
    width: 30%;
    height: 35px;
    margin: 0 auto;
    text-align: center;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.status{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
}
.green{
    background-image: url('../img/circ_icons/green_min_15.png');
}
.blue{
    background-image: url('../img/circ_icons/blue_min_15.png');
}
.red{
    background-image: url('../img/circ_icons/red_min_15.png');
}