* {
  margin: 0;
  padding: 0; 
}
table{
  border:1px solid dimgrey;
  background-color: #F9FAFC;
}

td{
  height: 30px;
  border: 2px solid #D2D3D5;
}
td:hover {
  height: 30px;
  border: 2px solid black;
  color: grey;
}